@model save.Models.ItemViewModels.ItemViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="login-section col-sm-6 col-sm-offset-3 well">
        <form asp-action="Create">
            <div class="form-horizontal">
                <h4>Save a new item</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Title" class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Text" class="col-md-3 control-label"></label>
                    <div class="col-md-9">
                        <textarea asp-for="Text" class="form-control"></textarea>
                        <span asp-validation-for="Text" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Url" class="col-md-3 control-label">Link</label>
                    <div class="col-md-9">
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url" class="text-danger" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <input type="submit" value="Save" class="btn btn-raised btn-default" />
                    </div>
                </div>
                <p class="text-center">
                    <a asp-action="Index">Back to List</a>
                </p>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
