@model IEnumerable<save.Models.ItemViewModels.ItemViewModel>
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "Index";
}

@if (!SignInManager.IsSignedIn(User))
{
    <h2 class="text-center">You're not signed in :(</h2>
    <p class="text-center"><a asp-controller="Account" asp-action="Login">Login</a> to view your saved items or <a asp-controller="Account" asp-action="Register">register</a> to start saving.</p>
}
else if (!Model.Any())
{
    <h2 class="text-center">You have no saved items :(</h2>
    <p class="text-center"><a asp-action="Create">Create a new item</a></p>
}
else
{
    <h2 class="text-center">Saved Items</h2>
    <div class="container">
        <div class="item-list col-sm-offset-2 col-sm-8">
            @foreach (var item in Model)
            {
                <div class="item panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@item.Title</h3>
                    </div>
                    <div class="panel-body">
                        <p>@item.Text</p>
                        @if (item.Url != null)
                        {<a href="@item.Url">@item.Url</a>}
                    </div>
                    <div>
                        <a class="btn btn-default" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-default" asp-action="details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-default" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
}

